<h2>Upload picture</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/*">
  <br/>
  <input type="submit" name="Upload" style="width:87px; margin-top: 3px">
</form>